# ESP-IDF build outputs
**/build/
**/.cache/

# ESP-IDF managed components
**/managed_components/

# VS Code / Eclipse settings
.vscode/
.idea/
**/.settings/
**/.cproject
**/.project

# Espressif IDE specific
**sdkconfig.old

# macOS
.DS_Store

# Windows
Thumbs.db

# Build artifacts sitting in TipUpNode root
code/TipUpNode/CMake*
code/TipUpNode/*.ninja*
code/TipUpNode/app-*
code/TipUpNode/bootloader-*
